@font-face {
    font-family: brand_title;
    src: url(../asset/font/Redressed-Regular.ttf);
}
@font-face {
    font-family: eup;
    src: url(../asset/font/Mushroom.);
}
@font-face {
    font-family: tex;
    src: url(../asset/font/Roboto-Regular.ttf);
}

body{
    background-image: url(../asset/image/bp.jpg);
    background-size: cover; 
    background-repeat: no-repeat; 
    background-color: rgba(0, 0, 0, 0.65); 
    background-blend-mode: overlay;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}


.brand_name{
    color: #F7E7CE;
    font-family: brand_title;
    font-size: 2.25em;
    margin: 0;
    position: relative;
    left: 5%;
}
hr{
    border: none;
    height: 2px;
    background-color: #333333;
}
a{
    text-decoration: none;  
    color: #F7E7CE;  

}
a:visited{
    text-decoration: none;  
    color: #F7E7CE;  
}
ul {
    list-style-type: none;  
    padding: 0;            
    margin: 0;
    display: flex;
    justify-content: center; 
    align-items: center;
}
li {
    display: inline-block; 
    margin-right: 20px;     
    position: relative;
    top:-25px;
    font-family: eup;
    font-size: 1.25em;
}
.menu{
    height: 4px;
    width: 25px;
    margin-top: 3px;
    border-radius: 50px;
    background-color: #F7E7CE;
    position: relative;
    top: -48px;
    left: 95%;
}
.m_p {
    width: 300px;
    height: 300px;
    overflow: hidden; 
    position: fixed; 
    bottom: 150px; 
    left: 150px; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    z-index: 1000; 
}

.m_p img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.title{
    font-family: tex;
    font-weight: 400;
    color: #F7E7CE;
    font-size: 1.6em;
    position: fixed; 
    bottom: 300px; 
    left: 500px;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    z-index: 1000; 
}
.auth{
    font-family: tex;
    font-weight: 100;
    color: #F7E7CE;
    font-size: 1.3em;
    position: fixed; 
    bottom: 275px; 
    left: 500px;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    z-index: 1000; 
}
.controls{
    font-family: tex;
    font-weight: 100;
    color: #F7E7CE;
    font-size: 1.3em;
    position: fixed; 
    bottom: 250px; 
    left: 500px;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    z-index: 1000; 
}